@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121321;
}
section::before{
    content: '';
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transform:translate(-150px,-100px) ;
    background: linear-gradient(45deg, #ff0057, #0099ff);
}
section::after{
    content: '';
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    transform:translate(150px,100px) ;
    background: linear-gradient(45deg, #ff0057, #0099ff);
}